{% extends "marco_prompt.html" %}
{% load static %}
{% block content %}

{% static "" as baseUrl %}

<!--<meta charset="utf-8">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Dosis:500&effect=outline' rel='stylesheet' type='text/css'>

<div class="container">
    <h2 class="text-light">Propietarios</h2>
    <form method="get" action="/hiscliapp/localidadprompt/">
	<FieldSet><legend>Filtros de b&uacute;squeda</legend>
	<row>
        <select name="filtro_provincia_id" id="id_filtro_provincia_id">
            <option value="" {% if filtro_provincia_id == "" %} selected {% endif %} >-Todas las provincias-</option>			
			<option value="1" {% if filtro_provincia_id == "1" %} selected {% endif %} >Buenos Aires</option>
			<option value="2" {% if filtro_provincia_id == "2" %} selected {% endif %} >CABA</option>
			<option value="4" {% if filtro_provincia_id == "4" %} selected {% endif %} >C&oacute;rdoba</option>
			<option value="3" {% if filtro_provincia_id == "3" %} selected {% endif %} >Neuqu&eacute;n</option>
			<option value="7" {% if filtro_provincia_id == "7" %} selected {% endif %} >R&iacute;o Negro</option>
			<option value="6" {% if filtro_provincia_id == "6" %} selected {% endif %} >Santa Fe</option>
		</select>
		
		<div class="col-xs-6 col-md-3"><input type="text" placeholder="Localidad" name="filtro_localidad_nombre" id="id_filtro_localidad_nombre" value="{{ filtro_localidad_nombre }}" /></div>
    </row>
    </FieldSet>
	<input type="submit" value="Buscar" class="btn btn-info" />
	<input type="button" value="Limpiar filtros" class="btn btn-default" onclick='javascript: LimpiarFiltros();'/>
	</form>		
    <table class="table table-hover">
    <thead>
      <tr>
		<th></th>
        <th>Localidad</th>
        <th>Provincia</th>
      </tr>
    </thead>
    <tbody>
    {% for localidad in localidad_list %}
	<tr>
    	<td><a href="#" onclick="sendValues({{ localidad.id }});" ><img src= "{% static "images/accion_elegir.png"%}" data-toggle="tooltip" data-placement="top" title="Seleccionar" alt= "Seleccionar"></a></td>
		<td>{{ localidad.nombre }}</td>
		<td>{{ localidad.provincia.nombre }}</td>
	</tr>
    {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="/hiscliapp/localidadprompt?filtro_provincia_id={{filtro_provincia_id}}&filtro_localidad_nombre={{filtro_localidad_nombre}}&page={{ page_obj.previous_page_number }}">anterior</a>
              {% endif %}
              <span class="page-current">
                  Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="/hiscliapp/localidadprompt?filtro_provincia_id={{filtro_provincia_id}}&filtro_localidad_nombre={{filtro_localidad_nombre}}&page={{ page_obj.next_page_number }}">siguiente</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
</div>

<script type="text/javascript">
 function sendValues(idlocalidad){
	 console.log(idlocalidad);
 opener.window.document.getElementById('id_localidad').value = idlocalidad;

 window.close();
 }
</script>
{% endblock content %}