{% extends "marco.html" %}
{% block content %}
<h3>Paciente agregado/modificado correctamente</h3>

<p>Obra social: {{ paciente.obra_social.nombre}} 
    N&uacute;mero de afiliado: {{ paciente.numero_afiliado}}</p>
<p>Apellido: {{ paciente.apellido}} Nombre: {{ paciente.nombres}} </p>
<p>Tipo de documento: {{ paciente.tipo_documento}} N&uacute;mero de documento: {{ paciente.numero_documento}} </p>

<a class="btn btn-primary" href="{% url "hiscliapp:paciente_listar"  %}">Volver a la lista de pacientes</a>
{% endblock content %}
