{% extends "marco.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Pacientes</h2>
        <form method="get" action="/hiscliapp/paciente/">
        
		<FieldSet><legend>Filtros de b&uacute;squeda</legend>
		<row>
		<div class="col-xs-6 col-md-2"><input type="text" placeholder="Obra social" name="filtro_obra_social" id="id_filtro_obra_social" value="{{ filtro_obra_social }}" /></div>
		<div class="col-xs-6 col-md-2"><input type="text" placeholder="N&uacute;mero de Afiliado" name="filtro_num_afi" id="id_filtro_num_afi" value="{{ filtro_num_afi }}" /></div>
        <div class="col-xs-6 col-md-2"><input type="text" placeholder="Apellido" name="filtro_ape" id="id_filtro_ape" value="{{ filtro_ape }}" /></div>
		<div class="col-xs-6 col-md-2"><input type="text" placeholder="Nombre" name="filtro_nom" id="id_filtro_nom" value="{{ filtro_nom }}" /></div>
		<div class="col-xs-6 col-md-2"><input type="text" placeholder="Tipo de documento" name="filtro_tipo_docu" id="id_filtro_tipo_docu" value="{{ filtro_tipo_docu }}" /></div>
		<div class="col-xs-6 col-md-2"><input type="text" placeholder="N&uacute;mero de documento" name="filtro_num_docu" id="id_filtro_num_docu" value="{{ filtro_num_docu }}" /></div>
        </row>
        </FieldSet>
		<input type="submit" value="Buscar" class="btn btn-info" />
		<input type="button" value="Limpiar filtros" class="btn btn-default" onclick='javascript: LimpiarFiltros();'/>
		</form>
		
    <div class= "container" style= "background-coloer:#ff00ff">
	  <!-- +encabezado md-->
	  <div class="row row-bordered hidden-xs hidden-sm"> 
		  <div class="col-md-3 col-lg-3"> <!--acciones-->
			  Acciones
		  </div> 
	      <div class="col-md-9 col-lg-9"> <!-- +datos-->
		    <div class="row">		  
		      <div class="col-md-2 col-xs-6">Obra Social </div> 		  
		      <div class="col-md-2 col-xs-6">Afiliado </div> 		  
		      <div class="col-md-2 col-xs-6">Apellido</div>
		      <div class="col-md-2 col-xs-6">Nombres</div>
		      <div class="col-md-1 col-xs-6">Tipo de documento</div>
		      <div class="col-md-2 col-xs-6">N&uacute;mero de documento</div>
		      <div class="col-md-1 col-xs-6">&Uacute;ltima consulta</div>
		    </div>
		  </div>
	  </div> 
	  <!-- -encabezado md-->
	  <!-- +encabezado xs-->
	  <div class="row row-bordered hidden-md hidden-lg">
		  <div class="col-md-12 col-xs-12">    </div> 
		  </br>		  
	  </div> 
	  <!-- -encabezado xs-->
	  
	  
	  
    {% for paciente in paciente_list %}
    <!--accion_subir_imagenes_disabled.png-->
    {% with vultima_consulta=paciente.ultimo_motivo_consulta %}
	<div class="row row-bordered"> <!-- +linea -->
      <!-- +acciones-->
      <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12">
         <row>
	       <div class="col-xs-2">
			 <a href="{% url "hiscliapp:paciente_modificar" paciente.id %}" ><img src= "{% static "images/accion_modificar.png"%}" data-toggle="tooltip" data-placement="top" title="Modificar" alt= "Modificar"></a>
		   </div>
		   <div class="col-xs-2">
			 <a href="{% url "hiscliapp:paciente_borrar" paciente.id %}"><img src= "{% static "images/accion_borrar.png"%}" data-toggle="tooltip" data-placement="top" title="Borrar" alt= "Borrar"></a>
		   </div>
		   <div class="col-xs-2">
		     <a href="{% url "hiscliapp:paciente_motivoconsulta" paciente.id %}" ><img width=24 src= "{% static "images/accion_motivo_consulta.png"%}" data-toggle="tooltip" data-placement="top" title="Motivo de consulta" alt= "Motivo de consulta"></a>
		   </div>
		   <div class="col-xs-6">
             <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">m&aacute;s ... <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <!--<li role="separator" class="divider"></li>-->
                  <li><a href="{% url "hiscliapp:paciente_antecedentespersonales" paciente.id %}" ><img width=16 src= "{% static "images/accion_antecedentes_personales.png"%}" data-toggle="tooltip" data-placement="top" title="Antecedentes personales" alt= "Antecedentes personalesr">antecedentes personales</a></li>
                  <li><a href="{% url "hiscliapp:paciente_antecedentesfamiliares" paciente.id %}" ><img width=16 src= "{% static "images/accion_antecedentes_familiares.png"%}" data-toggle="tooltip" data-placement="top" title="Antecedentes familiares" alt= "Antecedentes familiares">antecedentes familiares</a></li>
                  <li><a href="{% url "hiscliapp:paciente_examenfisico" paciente.id %}" ><img width=16 src= "{% static "images/accion_examen_fisico.png"%}" data-toggle="tooltip" data-placement="top" title="Examen f&iacute;sico" alt= "Examen f&iacute;sico">examen f&iacute;sico</a></li>
                  <li><a href="{% url "hiscliapp:paciente_estudiocomplementario" paciente.id %}" ><img width=16 src= "{% static "images/accion_estudios_complementarios.png"%}" data-toggle="tooltip" data-placement="top" title="Estudios complementarios" alt= "Estudios complementarios">estudios complementarios</a></li>
                  {% if vultima_consulta > 0 %}
                    <li><a href="{% url "hiscliapp:consulta_imagenes" vultima_consulta %}" ><img width=16 src= "{% static "images/accion_subir_imagenes.png"%}" data-toggle="tooltip" data-placement="top" title="Im&aacute;genes de la &uacute;ltima consulta" alt= "Im&aacute;genes de la &uacute;ltima consulta">im&aacute;genes de la &uacute;ltima consulta</a></li>
                  {% else %}
                    <li><img width=16 src= "{% static "images/accion_subir_imagenes_disabled.png"%}" data-toggle="tooltip" data-placement="top" title="Para subir im&aacute;genes debe cargar una consulta" alt= "Para subir im&aacute;genes debe cargar una consulta">debe cargar una consulta</li>
                  {% endif %} 
                </ul>
                
              </li>
            </ul>
            </div>
        </row>
      </div>
      <!-- +datos-->  
	  <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12"> 
		<div class="row">
          <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">Obra social:</div> 
              <div class="col-md-2 col-lg-2 col-xs-8 col-sm-8">{{ paciente.obra_social  }} </div>
              
          <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">Afiliado:</div> 
	          <div class="col-md-2 col-lg-2 col-xs-8 col-sm-8">{{ paciente.numero_afiliado  }}</div>
	          
          <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">Apellido:</div> 
	          <div class="col-md-2 col-lg-2 col-xs-8 col-sm-8">{{ paciente.apellido  }}</div>
              
          <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">Nombres:</div> 
	          <div class="col-md-2 col-lg-2 col-xs-8 col-sm-8">{{ paciente.nombres }}</div>
	      
          <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">Tipo doc.:</div> 
	          <div class="col-md-1 col-lg-1 col-xs-8 col-sm-8">{{ paciente.tipo_documento }}</div>
	      
          <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">Nro. doc.:</div> 
	          <div class="col-md-2 col-lg-2 col-xs-8 col-sm-8">{{ paciente.numero_documento }}</div>
	      
          <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">&Uacute;ltima consulta:</div> 
	          <div class="col-md-1 col-lg-1 col-xs-8 col-sm-8">{{ paciente.ultima_consulta | date:"d/m/Y"}}</div>
	      
		</div>
	  </div> 
	  <!-- -datos-->
	</div> <!-- -linea -->

	{% endwith %}
    {% endfor %}	  
	  
	  
    </div>

  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="/hiscliapp/paciente?q={{query}}&page={{ page_obj.previous_page_number }}">anterior</a>
              {% endif %}
              <span class="page-current">
                  P&aacute;gina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="/hiscliapp/paciente?q={{query}}&page={{ page_obj.next_page_number }}">siguiente</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
  <a class="btn btn-primary" href="{% url "hiscliapp:paciente_crear"  %}">Agregar paciente</a>  
</div>


<script type="text/javascript">
  function LimpiarFiltros(){
    $("[id^='id_filtro']").val('')
  }
</script>
{% endblock content %}
