{% extends "marco.html" %}
{% block content %}

<div class= "container" style="margin-top:1rem">
    <div class="row font-weight-bold">
        <h2>Propietario</h2> 
        <span class ="col-12">C&oacute;digo: {{ vetduenio.codigo}} </span>
        <span class ="col-12">Apellido: {{ vetduenio.apellido}} Nombre: {{ vetduenio.nombres}} </span>
        <span class ="col-12">Localidad: {{ vetduenio.localidad}} Provincia: {{ vetduenio.localidad.provincia}}</span>
        <span class ="col-12">Domicilio: {{ vetduenio.domicilio}}</span>
        <span class ="col-12">Celular: [{{ vetduenio.celular_telefonica}}] {{ vetduenio.celular_numero}}</span>
        <span class ="col-12" >email: {% if vetduenio.email %} {{ vetduenio.email}} {% else %} --- {% endif %}</span>
        <span class ="col-12" >Twitter: {% if vetduenio.twitter %} {{ vetduenio.twitter}} {% else %} --- {% endif %}</span>
        <span class ="col-12" >CUIT: {{ vetduenio.cuit}}</span>

    </div>
    <div class="row" >
        <a class="btn btn-primary" href="/hiscliapp/vetduenio?filtro_codigo={{vetduenio.codigo}}"  %}">Volver a propietarios</a>
    </div>
</div>
{% endblock content %}
