{% extends "marco.html" %}
{% block content %}

<div class= "container" style="margin-top:1rem">
    <div class="row">
        <div class="card text-white bg-dark mb-3">
        <div class="card-header">Propietario</div> 
        <ul >
            
            <li>C&oacute;digo: {{ vetduenio.codigo}} </li>
            <li >Apellido: {{ vetduenio.apellido}} Nombre: {{ vetduenio.nombres}} </li>
        </ul>
        </div>
        </div>
    </div>
    <div class="row">
        {% for mascota in vetduenio.vetmascota_set.all|dictsort:"nombre" %}
        <div class="row">
        <p><strong>Código</strong> {{mascota.codigo}} </p>
        <p><strong>Especie</strong> {{mascota.especie}} </p>
        <p><strong>Raza</strong> {{mascota.raza}} </p>
        <p><strong>Color</strong> {{mascota.color}} </p>
        </div>
        {% endfor %}
    </div>
    <div class="row" >
        <a class="btn btn-primary" href="{% url "hiscliapp:vetduenio_listar"  %}">Ir a lista de propietarios</a>
        <a class="btn btn-primary" href="{% url "hiscliapp:vetmascota_listar"  %}">Ir a lista de mascotas</a>
    </div>
</div>
{% endblock content %}
