{% extends "marco.html" %}
{% block content %}
<form method="post">{% csrf_token %}
    <div class= "container" style="margin-top:1rem">
        <div class="row font-weight-bold">    
            <h3>¿Está seguro de eliminar la mascota?</h3>
            <span class ="col-12" >Código: {{ vetmascota.codigo}}</span>
            <span class ="col-12" >Nombre: {{ vetmascota.nombre}}</span>
            <span class ="col-12">Dueño: {{ vetmascota.duenio }}</span>
            <span class ="col-12" >Fecha de nacimiento: {{ vetmascota.fecha_nacimiento|date:'d/m/Y'}} </span>
            <span class ="col-12"> Especie: {{ vetmascota.get_especie_display}}</span>
            <span class ="col-12">Raza: {{ vetmascota.raza}}</span>
            <span class ="col-12">Color: {{ vetmascota.color}} </span>
            <span class ="col-12">Sexo: {{ vetmascota.get_sexo_display}} </span>
            <span class ="col-12">Última consulta: {{ vetmascota.ultima_consulta}} </span>              
        </div>
        <div class="row" >
            <input type="submit" value="Confirmar" class="btn btn-primary btn-success"/> 
            <a class="btn btn-warning" href="/hiscliapp/vetduenio/">Volver a la lista de propietarios</a>
        </div>
    </div>    	
</form>
{% endblock content %}
