{% extends "marco.html" %}
{% load static %}
{% block content %}

{% static "" as baseUrl %}

<div class= "container" style="margin-top:1rem">

    <div class="card mb-3" style= "max-width:30rem">
        <div class="card-header">
            {{ vetmascota.codigo}}. {{ vetmascota.nombre}}
            <img width =24px src="{{ baseUrl }}/images/icono_{{vetmascota.get_especie_display}}.svg"></img>
            <img width =24px src="{{ baseUrl }}/images/icono_{{vetmascota.get_sexo_display}}.svg"></img>
        </div>
        <div class="card-body">
            <span class="badge badge-info">{{ vetmascota.raza}}</span>
            <span class="badge badge-secondary">{{ vetmascota.color}}</span>
            <span class="badge badge-dark"><span class ="col-12" id="id_edad">texto edad </span></span> 
            <br/>
            Nacimiento: {{ vetmascota.fecha_nacimiento|date:'d/m/Y'}} <br/>
            Dueño: {{ vetmascota.duenio }} <br/>
        </div>
        <div class="card-footer bg-transparent border-info">
            <a class="btn btn-success" href="{% url "hiscliapp:vetmascota_modificar" vetmascota.id %}">Modificar</a>
            <a class="btn btn-warning" style="margin-left:1rem" href="/hiscliapp/vetduenio?filtro_codigo={{vetmascota.duenio.codigo}}">Volver al propietario</a>
            <a class="btn btn-danger"  style="margin-left:1rem" href="{% url "hiscliapp:vetmascota_borrar" vetmascota.id %}">Borrar</a>
        </div>
    </div>

    <div class="row font-weight-bold">
    </div>
    <!--Calculo la edad-->
    <script type="text/javascript">
        nacimiento= '{{ vetmascota.fecha_nacimiento|date:'d/m/Y'}}' ;
        moment.locale('es');
        //texto_edad= moment(nacimiento, "DD/MM/YYYY").fromNow()
        let diferencia = moment(nacimiento, "DD/MM/YYYY").diff(moment(),'milliseconds');
        let duracion = moment.duration(diferencia);
        let anios = (-1)* duracion.years();
        let meses = (-1)* duracion.months();
        let dias = (-1)*duracion.days();
        console.log(anios);
        console.log(meses);
        console.log(dias);


        let txtanios = ' años ';
        let txtmeses = ' meses ';
        let txtdias = ' días ';
        if (anios == 1) { txtanios = ' año ' };
        if (meses == 1) { txtmeses = ' mes ' };
        if (dias == 1) { txtdias = ' día ' };

        let texto_edad = anios + txtanios + 
            meses + txtmeses+ dias + txtdias
        let li_edad = $("#id_edad");
        li_edad.text(texto_edad);
    </script>    

    <div class="row" style="margin-top:1rem">

<!--Agregar consulta-->
<a title="Agregar una consulta a la mascota" href="{% url "hiscliapp:vetconsulta_crear" vetmascota.id %}" >            
    <span class="badge badge-light"> <i class="fa fa-plus" title="Agregar consulta"></i> Nueva consulta</span>
</a>

<!--Listar consultas-->
        {% for consulta in vetmascota.vetconsulta_set.all %}     
            <a title="Modificar consulta" href="{% url "hiscliapp:vetconsulta_modificar" consulta.id %}" >
             
                <div class="card mb-3" style= "max-width:30rem">
                  <div class="card-header">
                        <span class="text-dark">{{ consulta.fecha|date:'d/m/Y' }}</span>
				  </div>
				  <div class="card-body">
                    <p class="text-dark">
                    Peso:{{ consulta.peso |floatformat:2 }} Kg<br/>
                    Motivo:{{ consulta.motivo_consulta.nombre }}<br/>
                    {{ consulta.observaciones }}</p>
                  </div>
                    <div class="card-footer bg-transparent border-info">
                        <span class="text-dark">Atendió: {{ consulta.atendio }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
       
    </div>
</div>
{% endblock content %}
