{% extends "marco.html" %}
{% load static %}
{% block content %}
<div class="container">
	<h4><i class="fa fa-filter"></i> Buscar Razas</h4>
	<form class="form-group row" method="get" action="/hiscliapp/vetraza/">
		<input type="text" class="form-control form-control-sm col-2" style="margin-right: 10px;" placeholder="Nombre" name="filtro_nom" id="id_filtro_nom" value="{{ filtro_nom }}" />
		<input type="submit" id="btn_buscar" value="Buscar" class="btn btn-info" />
		<input type="button" value="Limpiar filtros" class="btn btn-default" onclick='javascript: LimpiarFiltros();'/>
	</form>
	<div class="btn btn-light">
		<h4><a href="{% url "hiscliapp:vetraza_crear" %}" ><i class="fa fa-plus" title="Nueva raza"></i> Nueva raza</a></h4>
	</div>
</div>

<div class= "container" style="margin-top:1rem"></div>
	<div class= "container" style="margin-top:1rem">
		<div class="row">
			{% for vetraza in vetraza_list %}
				<div class="card mb-3" style= "max-width:30rem">
					<div class="card-header text-dark">
						<a href="{% url "hiscliapp:vetraza_modificar" vetraza.id %}" >
						{{vetraza.nombre}}
						</a>
					</div>
				</div>		
			{% endfor %}
		</div>
	</div>
	<div class= "container" style="margin-top:1rem">
	{% if is_paginated %}
	<div class="row">
		{% if page_obj.has_previous %}
			<div class="col-1">
			<a href="/hiscliapp/vetraza?q={{query}}&page={{ page_obj.previous_page_number }}">
				<i class="fa fa-arrow-left" title="Página anterior"></i>
			</a>
			</div>
		{% endif %}
			<div class="col-2">
				<h5 class="page-current text-white">
                 Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
				</h5>
			</div>
		{% if page_obj.has_next %}
			<div class="col-1">
				<a href="/hiscliapp/vetraza?q={{query}}&page={{ page_obj.next_page_number }}">
					<i class="fa fa-arrow-right" title="Página siguiente"></i>
				</a>
			</div>
    {% endif %}
  </div>
{% endif %}
</div>


<script type="text/javascript">
  function LimpiarFiltros(){
    $("[id^='id_filtro']").val('')
	//espero medio segundo y hago clic en limpiar
	setTimeout(
    function() {
		$("#btn_buscar").click(); 
    }, 500);	
  }
</script>
{% endblock content %}
